<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_DIR" value="./logs/"/>
    <property name="LOGS_ARCHIVE_DIR" value="./logs/archive"/>
    <property name="FILE_NAME" value="central-bill-invoice_"/>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="siftingAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <key>dairyId</key>
            <defaultValue>000</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${dairyId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS_DIR}/${FILE_NAME}${dairyId}.log</file>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOGS_ARCHIVE_DIR}/${FILE_NAME}${dairyId}.%d{yyyy-MM-dd}_%d{HHmmss}.%i.log</fileNamePattern>
                    <maxHistory>10</maxHistory>
                    <TimeBasedFileNamingAndTriggeringPolicy class="com.prairiefarms.utils.logging.StartupSizeTimeBasedTriggeringPolicy">
                        <MaxFileSize>250MB</MaxFileSize>
                    </TimeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="siftingAppender" />
    </root>
</configuration>
