<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <property name="LOGS_DIR" value="./logs"/>
    <property name="LOGS_ARCHIVE_DIR" value="./logs/archive"/>
    <property name="FILE_NAME" value="central-bill-invoice"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="siftingAppender" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>dairy</key>
            <defaultValue>???</defaultValue>
        </discriminator>

        <sift>
            <appender name="siftingAppender-${dairy}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOGS_DIR}/${FILE_NAME}_${dairy}.log</file>
                <encoder>
                    <pattern>%d{ISO8601} %-5level - %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOGS_ARCHIVE_DIR}/${FILE_NAME}_${dairy}.%d{yyyy-MM-dd}_%d{HHmmss}.%i.log</fileNamePattern>
                    <maxHistory>30</maxHistory>
                    <TimeBasedFileNamingAndTriggeringPolicy
                            class="com.prairiefarms.utils.logging.StartupSizeTimeBasedTriggeringPolicy">
                        <MaxFileSize>250MB</MaxFileSize>
                    </TimeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
            </appender>
        </sift>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="siftingAppender"/>
    </root>
</configuration>
